
  <% session[:game] = true %>
<div id="game_container">
  <div id="left_score">
    <%= @player.name %>'s' score:
    <%= session[:player_hand].length %>
  </div>

  <div id="left_card">
    <div class="flip-container" onclick="this.classList.toggle('click');">
      <div class="flipper">
        <div class="front">

          <p> </p>
        </div>
        <div class="back">
          <img src='/img/<%=  @player_card.name %>.jpg'>
          <p>  </p>
        </div>
      </div>
    </div>
  </div>


  <div id="right_score">
    <p> Computer's Score </p>
    <%= session[:computer_hand].length %>
  </div>

    <div id="right_card">
      <div class="flip-container" onclick="this.classList.toggle('click');">
        <div class="flipper">
          <div class="front">
            <p>  </p>
          </div>

          <div class="back">
            <img src='/img/<%=  @computer_card.name %>.jpg'>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="flip_button">
    <form action="/game" method="POST">
    <button type="submit" name="Battle!">Battle!</button>
    </form>
  </div>

  <form action="/signout" method="POST">
    <button type="submit" name="Signout">Signout</button>
  </form>

</div>

